.breadcrumbs{
    padding: 1rem 2rem;
    position: sticky;
    top: 4rem;
    z-index: 1;
    background-color: var(--breadcrumb-background-color);
    /*margin-top: 1rem;*/
}
.current-breadcrumb-text{
    color:var(--current-breadcrumb-color);
    margin-left:0.1rem
}
.hover-breadcrumb{
    text-underline-offset: 1px;
    color: var(--hover-breadcrumb-color);
    margin-left:0.1rem
}
.current-breadcrumb-right{
    color:var(--current-breadcrumb-color);
}