.complement-meeting {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
}

.complement-meeting__meetings-list {
    width: 65%;
}

.complement-meeting__meeting-view {
    width: 35%;
}