.user__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 3rem;
}

.user__details-heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: #343434;
}

.user__details-desc {
    font-size: 1rem;
    font-weight: 500;
    color: #A4A4A4;
}

.user__details-inputs-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
}

.user__details-inputs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    flex-direction: column;
}

.user__details-input-heading {
    font-size: 0.8rem;
    font-weight: 600;
    color: #545454;
    width: 75%;
}

.user__details-input {
    width: 75%;
    height: 2rem;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    outline: none;
    padding-left: 1rem;
    color: #545454;
    margin: 1rem 0;
}

.user__details-input:focus {
    border: 1px solid #A8242B;
}

.user__details-country-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    height: 2rem;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 0.5rem;
}

.user__details-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.user__details-button {
    padding: 0.5rem 2rem;
}


.invalid__field_display {
    height: 1.5rem;
    margin-top: 0.5rem;
}

.invalid__field {
    color: red !important;
    margin-bottom: 1rem;
}

.user__details-contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}


@media screen and (max-width: 800px) {
    .user__details-input-heading {
        width: 100%;
    }

    .user__details-input {
        width: 100%;
    }

    .user__details-desc {
        text-align: center;
    }

    .user__details-contact-wrapper {
        width: 100%;
    }
    .user__details-country-dropdown {
        width: 30%;
        margin-right: 1rem;
    }
}
