.builder__property-table {
    width: 100%;
}

.builder__table {
    width: 100%;
    border-spacing: 0;
}

.builder__table-heading-container {
    background: var(--table-header-bg-color);
}

.builder__table-tr {
    font-weight: 500;
    /*font-size: 16px;*/
    font-size: 0.875rem;
}

.builder__table-tr:hover {
    cursor: pointer;
    background-color:var(--table-body-even-row-bg-hover-color)
}
.builder__table-tr-even-row{
    background-color: var(--table-body-even-row-bg-color);
}

.builder__table-th {
    min-width: 200px;
    height: 3rem;
    font-weight: 600;
    /*font-size: 18px;*/
    color: var(--table-header-text-color);
    text-align: left;
    padding-left: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
}


.builder__table-td {
    min-width: 200px;
    padding-left: 1rem;
    border-right: 1px solid #EFEBF9;
}
.builder__table-td-center{
    min-width: 200px;
    text-align: center;
    border-right: 1px solid #EFEBF9;
}


.builder__table-td-colspan {
    padding: 0 !important;
    min-width: 200px;
    /*text-align: center;*/
    border-bottom: 1px solid #EFEBF9;
}


.builder__table-thead {
    position: sticky;
    top: 0;
    letter-spacing: .025em;
}
.builder__heading-table-wrapper{
    background-color: var(--card-bg-color);
    /*margin-top: 1rem;*/
    padding: 1.5rem 1.5rem 2rem;
    margin-bottom: 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    /*box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;*/
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.builder__table-btn-wrapper{
    display: flex;
    flex-direction: row;
    margin-right:1rem
}
