.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6rem;
}

.header__image {
    width: 3rem;
}

.header__text {
    font-weight: 600;
    font-size: 24px;
    color: #424242;
    margin: 0 1rem;
}
@media screen and (max-width: 800px) {
    .header{
        padding: 0 1rem;
    }
}
