.service-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .service-wrapper {
        padding: 0;
    }
}