.customer__popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 20px;
}

.customer__popup-content {
    width: 80%;
    height: auto;
    background: #FFFFFF;
}

.customer__table-wrapper {
    height: 400px;
    width: auto;
    overflow-y: auto;
    position: relative;
    margin: 0rem 1rem;
    border: 1px solid #EFEBF9;
    border-radius: 8px;
}

.customer__table {
    width: 100%;
    border-spacing: 0;
}
.customer__table-even-row{
    background-color: var(--table-body-even-row-bg-color);
}

.customer__table-input {
    padding: 1rem;
    height: 100%;
    /* width: 100%;*/
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    overflow: auto;
}

.customer__table-heading-container {
    background: var(--table-header-bg-color);
    position: sticky;
    top: 0;
}

.customer__table-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.customer__table-tr {
    font-weight: 500;
    font-size: 0.875rem;
    overflow-y: auto;
    height: 3rem;
}

.customer__table-th {
    min-width: 200px;
    height: 3rem;
    font-weight: 600;
    color: var(--table-header-text-color);
    text-align: left;
    padding-left: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
}
.customer__table-th-center{
    min-width: 200px;
    height: 3rem;
    font-weight: 600;
    color: var(--table-header-text-color);
    text-align: center;
    padding-left: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
}
.customer__table-td {
    min-width: 200px;
    padding-left: 1rem;
    border-right: 1px solid #EFEBF9;
    height: 1rem;
}
.customer__table-td-center{
    min-width: 200px;
    border-right: 1px solid #EFEBF9;
    height: 1rem;
    text-align: center;
}
.customer__table-internal-td {
    min-width: 200px;
    padding-left: 1rem;
    border-right: 1px solid #EFEBF9;
    height: 1rem;
}

.customer__popup-header {
    font-size: 23px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
}

.customer__popup-header-title {
    font-size: 1.3rem;
    flex-grow: 1;
    color:var(--card-heading-text-color);
}

.customer__popup-header-close {
    align-self: end;
    cursor: pointer;
    justify-content: flex-end;
    display: flex;
    padding: 1rem 1rem 0 0;
}
.customer__popup-thead {
    position: sticky;
    top: 0;
    letter-spacing: .025em;
}
