.visit-card-fv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 11rem;
    background-color: white;
    border: 1px solid #ECECEC;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    position: relative;
}


.visit-card-fv__status {
    font-size: 0.9rem;
    font-weight: 600;
    color: #346CDA;
    margin-top: 0.5rem;
}

.visit-card-fv__profiles-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}

.visit-card-fv__image-profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.visit-card-fv__image-profile {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.visit-card-fv__meeting-icon {
    font-size: 1.5rem !important;
    color: #747474;
}

.visit-card-fv__text-profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: linear-gradient(180deg, #79242A 0%, #A2373D 100%);
}

.visit-card-fv__text-profile {
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
}

.visit-card-fv__property-name {
    font-size: 1rem;
    font-weight: 600;
    color: #424242;
}

.visit-card-fv__mobile {
    font-size: 0.8rem;
    font-weight: 600;
    color: #747474;
    margin-top: 0.5rem;
}

.visit-card-fv__divider {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
}

.visit-card-fv__property-details-wrapper {
    height: 100%;
    padding: 0 1rem;
    width: 80%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.visit-card-fv__details-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.visit-card-fv__date-heading {
    font-size: 0.9rem;
    font-weight: 600;
    color: #424242;
    margin-top: 0.5rem;
}

.visit-card-fv__date-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.visit-card-fv__date-value {
    font-size: 0.8rem;
    font-weight: 600;
    color: #747474;
}

.visit-card-fv__edit-icon {
    font-size: 1rem !important;
    color: #C7C7C7;
    cursor: pointer;
}

.visit-card-fv__time-heading {
    font-size: 0.9rem;
    font-weight: 600;
    color: #424242;
    margin-top: 0.5rem;
}

.visit-card-fv__time-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.visit-card-fv__time-value {
    font-size: 0.8rem;
    font-weight: 600;
    color: #747474;
}

.visit-card-fv__duration-heading {
    font-size: 0.9rem;
    font-weight: 600;
    color: #424242;
    margin-top: 0.5rem;
}

.visit-card-fv__duration-value {
    font-size: 0.8rem;
    font-weight: 600;
    color: #747474;
}

.visit-card-fv__location-heading {
    font-size: 0.9rem;
    font-weight: 600;
    color: #424242;
    margin-top: 0.5rem;
}

.visit-card-fv__location-value {
    font-size: 0.8rem;
    font-weight: 600;
    color: #747474;
}

.visit-card-fv__cancel-meeting-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-top: 1rem;
}

.visit-card-fv__cancel-meeting {
    font-size: 0.8rem;
    font-weight: 600;
    color: #B7B7B7;
    text-decoration: underline;
    cursor: pointer;
}

.visit-card-fv__save-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visit-card-fv__cancel-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visit-card-fv__save-button-icon {
    font-size: 1.5rem !important;
    color: #A2373D;
    cursor: pointer;
}

.visit-card-fv__cancel-button-icon {
    font-size: 1.5rem !important;
    color: #A2373D;
    cursor: pointer;
}

.visit-card-fv__down-icon-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.visit-card-fv__down-icon {
    font-size: 5rem !important;
    line-height: 1.5rem;
    color: #B9B9B9;
    cursor: pointer;
}