.price-range-dropdown {
    position: relative;
    width: 30rem;
    height: 15rem;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #BE6E73;
    padding: 3rem;
    z-index: 2;
}

.price-range-dropdown__minimum {
    background: #F3F3F4;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border: none;
}

.price-range-dropdown__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.price-range-dropdown__slider {
}

@media screen and (max-width: 800px) {
    .price-range-dropdown {
        width: 18rem;
        padding: 2rem;
    }
    .price-range-dropdown__minimum {
        margin-bottom: 0.5rem;
    }
}